* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  /* border: 1px solid #999; */
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}
